<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrivEdit.ucfg" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PrivEdit.ucfg>
            <setting name="test_html" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Page Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;h1&gt;My First Heading&lt;/h1&gt;
&lt;p&gt;My first paragraph.&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="opac" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="tabList" serializeAs="String">
                <value />
            </setting>
            <setting name="scheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>EN</value>
            </setting>
        </PrivEdit.ucfg>
    </userSettings>
</configuration>
